<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
</head>
<body>


 

<ul>
  <a href="/">Home</a>
  <a href="/bookmarks">View All</a>
  <a href="/bookmarks/new">Add New</a>
</ul>

<%= yield %>

</body>
</html>