

<h1>Bookmarks</h1>

<form action="/bookmarks" method= 'post'>
  <label for='url'>URL: </label>
  <input type='text' name='url'>


  <label for='name'>Name: </label>
  <input type='text' name='name'>

  <label for='genre'>Genre: </label>
  <input type='text' name='genre'>
  

  <button>Add Bookmark</button>
</form>
